{
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ".hintrc*",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.njk",
      "options": {
        "parser": "html"
      }
    }
  ]
}
