/**
 * CONFIG
 */
$project: "xeader.wp-nuxt";
$env: "dev";
$debug: false;

// Project-wide configuration, settings, and feature flags.
$config: (
  project: $project,
  env: $env,
  debug: $debug
);

// Retrieve config values by using `config(key)`, e.g.:
@function config($key) {
  @return map-get($config, $key);
}
